body{
    background-image: url('https://i.pinimg.com/originals/e3/37/5a/e3375a606228af7443bcc58b0f4e35ac.jpg');background-size:auto 100vh;
  front-family: Arial;
  hegth:100vh;
}
.menu{
  background-color: white;
}
.menu ul{
      display: flex;
      justify-content:space-around;
  }
.menu li{
    list-style: none;
  }
a{
    color:black;
  text-decoration: none;
}
a:hover{
    text-decoration:underline;
}
.site-title{
  color: red;
  text-align: center;
}
.site-subtitle{
  color:white;
  text-align:center;
  font-style:italic;
}